/* =========================
   GLOBAL RESET
========================= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* =========================
   BODY LAYOUT
========================= */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    background: #f0f4f3;
}

/* =========================
   MAIN CONTENT AREA
   (shared layout only)
========================= */
main {
    margin-left: 220px;
    padding: 80px 40px 60px 40px;
    flex: 1;
}

/* =========================
   HEADINGS (H1 GLOBAL STYLE)
========================= */
h1 {
    font-size: 24px;
    font-weight: 600;
    color: #065f46;
    margin-top: -30px;
    margin-bottom: 20px;
       display: flex;
    flex-direction: column;
    min-height: calc(100vh - 100px);
    padding: 40px 20px 20px 20px;
}

/* =========================
   FOOTER
========================= */
.main-footer {
    left: 220px;
    width: calc(100% - 220px);
}

/* =========================
   RESPONSIVE DESIGN
========================= */
@media (max-width: 768px) {

    .sidebar {
        width: 60px;
    }

    main {
        margin-left: 60px;
        padding: 80px 20px 60px 20px;
    }

    .main-footer {
        left: 60px;
        width: calc(100% - 60px);
    }
}